<header class="header">
  <div class="header__top">
    <div class="header__top-inner container">
      <div class="header__logo">
        <img class="header__logo-image" src="images/logo.png" alt="">
        Интернет-магазин<br> минеральной воды
      </div>
      <div class="header__top-email">
        <a class="header__top-link" href="mailto:info@minervoda.ru"><svg class="icon" aria-hidden="true"><use xlink:href="#envelope" /></svg> info@minervoda.ru</a>
      </div>
      <div class="header__top-clock">
        <svg class="icon" aria-hidden="true"><use xlink:href="#clock" /></svg> Пн‑Пт 9:00&nbsp;‑&nbsp;18:00
      </div>
      <div class="header__top-phone">
        <a class="header__top-link" href="tel:+78007777022"><svg class="icon" aria-hidden="true"><use xlink:href="#phone" /></svg> <span class="text">8 (800) 77 - 77 - 022</span></a>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="header__bottom-inner container">
      <div class="header__menu-block">
        <a class="header__location" href="#"><svg class="icon" aria-hidden="true"><use xlink:href="#pin" /></svg> <span class="text">Санкт-Петербург</span></a>
        <button class="js-menu-close header__menu-closer" type="button" title="Закрыть меню"><svg class="icon" aria-hidden="true"><use xlink:href="#close" /></svg></button>
        <ol class="main-menu">
          <li class="main-menu__item"><a class="main-menu__link is-active" href="#1">О компании</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#2">Полезные свойства</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#3">Вопрос / Ответ</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#4">Контакты</a></li>
        </ol>
      </div>
      <a class="header__cart-link" href="#" title="Тайтл"><svg class="icon" aria-hidden="true"><use xlink:href="#cart" /></svg></a>
      <button class="js-menu-open header__menu-opener" type="button" title="Открыть меню"><svg class="icon" aria-hidden="true"><use xlink:href="#burger" /></svg></button>
    </div>
  </div>
</header>
